---
layout: default

namespace: robot
permalink: /robot/
---

{% tf pages/robot.md %}

<h1>Latest Posts</h1>

<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>

{% for post in site.posts %}
  <!-- Trigger/Open The Modal -->
  <a id="posty - {{ post.title }}">{{ post.title }} - {{ post.excerpt }}</a>
  <br>

  <!-- The Modal -->
  <div id="posting - {{ post.title }}" class="post">
    
  <!-- Modal content -->
    <div class="post-content">
      <span class="close - {{ post.title }}">&times;</span>
      <h1>{{ post.title }}</h1>
      <p>{{ post.content }}</p>
      <script>
        // Get the modal
        var modal{{ post.title }} = document.getElementById("posting - {{ post.title }}");
    
        // Get the button that opens the modal
        var btn{{ post.title }} = document.getElementById("posty - {{ post.title }}");
    
        // Get the <span> element that closes the modal
        var span{{ post.title }} = document.getElementsByClassName("close - {{ post.title }}")[0];
    
        // When the user clicks on the button, open the modal
        btn{{ post.title }}.onclick = function() {
          modal{{ post.title }}.style.display = "block";
        }
    
        // When the user clicks on <span> (x), close the modal
        span{{ post.title }}.onclick = function() {
          modal{{ post.title }}.style.display = "none";
        }
    
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event{{ post.title }}) {
          if (event{{ post.title }}.target == modal{{ post.title }}) {
            modal{{ post.title }}.style.display = "none";
          }
        }
      </script>
    </div>

  </div>

{% endfor %}