<div id="picker">
    {% include EngFren.html %}
    <style>

        /* .hands {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-items: center;
            justify-content: center;
        } */
    
        #canvas {
            z-index: -2;
            position: absolute;
            transform: translateX(-50%);
        }
    
        #lefthandimg {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    
        .hand {
            transition: all 3s cubic-bezier(.07,.12,.09,1.06);
            filter: brightness(20%)
        }
    
        .hand:hover {
            transform: scale(1.3);  
            filter: brightness(100%)
        }
    
        .hands h1, .hands h2, .hands p {
            font-weight: bolder;
            text-align: center;
            font-size: 23px;
            margin: auto;
        }
    
        .hand img {
            width: 240px;
        }

    
        .hands {
            height: 300;
            justify-content: center;
            display: flex;
            flex-direction: row;
        }
    
        .left {
            margin-left: 90px;
        }
    
        .right {
            margin-right: 90px;
        }
    
    
    
        </style>
        <script src="{{ '/assets/js/hands.js' | relative_url }}"></script>
        <section class="hands">
        <article onclick="redirEng();" class="hand right" >
            
            <img  src="{{ '/assets/images/hands_assets/frame_0_delay-0.12s.png' | relative_url }}" id="handimg" alt=""> 
            <p>English</p>
        </article>
        <article onclick="redirFr();" class="hand left">
            
            <img src="{{ '/assets/images/hands_assets/frameb_0_delay-0.12s.png' | relative_url }}" id="lefthandimg" alt=""> 
            <p>Francais</p>
        </article>
    
        </section>
    
</div>

