//classes go here

.current {
    color: green;
}

.nav {
    max-width: 95%;
    position: static;
}

.wrapper {
    max-width: 90%;
    //...
}

.footer {
    background-color:#78C475;
    color: black;
    margin-top: 10px;
}

.post-content {
    max-width: 95%;
}

/* The Modal (background) */
.post {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .post-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

//html tags go here

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body{
    margin: 3%;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    color: #78C475;
    background-color: black;
}

img{
    display: block;
    height: 100%;
    width: 100%;
}

a{
    padding-top: 1em;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 1em;
    background-color: silver;
}

a:link{
   color: #00ffbf;

}

a:visited{
   color: #0004ff;
}

a:hover{
   color: #c9cc21;
}

a:active{
   color: #cc6521;
}
