.current {
    color: green;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    color: #78C475;
    background-color: black;
}

img{
    display: block;
    height: 100%;
    width: 100%;
}
