<!doctype html>

{% include head.html %}

<body>

  <link rel="stylesheet" href="https://unpkg.com/transition-style">


  <div id="transition" transition-style="out:wipe:bottom-right">
    
  </div>

  <div id="transition-in" hidden>
    
  </div>

  {% include navigation.html %}

  <div class="wrapper">
    {{ content }}
  </div>
    
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <footer>
    {% for lang in site.languageNames %}
    {% if lang[0] == site.lang %} {% continue %} {% endif %}
    {% if page.namespace %}
    <a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a>
    {% else %}
    <a href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a>
    {% endif %}
    {% endfor %}
  </footer>

</body>


