<!doctype html>
<html lang="{{ site.lang }}">
 
{% include head.html %}

<body>
    

<!-- <script src="{{ '/assets/js/matrixrain.js' | relative_url }}"></script> -->
<!-- <script defer src="{{ '/assets/js/rain.js' | relative_url }}"></script> -->
<style>

    #canvas {
        height: 100vh;
        z-index: -1;
        position: absolute;
        /* transform: translate(-50vw); */
    }

    body {

    margin: 0;
    text-align: center  ;
    }

    div#picker {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }

    
</style>
<!-- 
<img id="canvas" src="{{ site.baseurl }}/assets/images/morpheus.jpg" alt=""> -->

{% include hands.html %}

</body>